.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.749);
  opacity: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer,
.successContainer {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
  margin: auto;
  z-index: 2;
  border-radius: 7px;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
}

.inputlabel {
  font-size: 20px;
  margin-bottom: 5px;
}

.inputbox {
  background-color: transparent;
  font-size: 18px;
  outline: none;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  padding: 5px 8px;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}

.button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  border-radius: 6px;
  background-color: blue;
  padding: 8px 15px;
}

.button:hover {
  background-color: green;
}

.closeButton {
  background-color: rgba(255, 0, 0, 0.601);
}

.closeButton:hover {
  background-color: red;
}

.emptyInputField {
  border: red;
  background-color: rgba(255, 0, 0, 0.421);
}

.errorMessage {
  color: red;
}

.successMessage {
  font-size: 40px;
  color: green;
  text-align: center;
}

.changePageButton {
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
}

.totalPriceHeading {
  font-size: 20px;
  font-weight: 700;
}

.totalPrice {
  font-weight: bold;
  color: blue;
}
