.maincontainer {
  min-height: 100vh;
  background-color: rgba(0, 51, 128, 0.648);
  display: flex;
  align-items: center;
  justify-content: center;
}

.formcontainer {
  width: 80%;
  max-width: 600px;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.305);
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  border-radius: 8px;
  color: #fff;
}

.inputContainer {
  margin-bottom: 10px;
  min-height: 79px;
}

.inputlabel {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.inputbox {
  background-color: #fff;
  border: none;
  font-size: 18px;
  outline: none;
  width: 100%;
  border-radius: 3px;
  padding: 5px 8px;
}

.button {
  border: none;
  outline: none;
  min-width: 150px;
  width: 60%;
  margin: auto;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  background-color: blue;
  padding: 8px 15px;
  margin-bottom: 15px;
}

.button:hover {
  background-color: green;
  cursor: pointer;
}

.center {
  text-align: center;
  font-size: 18px;
}

.emptyInputField {
  border: red;
  background-color: rgba(255, 0, 0, 0.421);
}

.errorMessage {
  color: red;
}

.disabledButton {
  background-color: grey;
}

.disabledButton:hover {
  background-color: grey;
}
